@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
}

body {
    background-color: #E9ECF8;
    height: 100vh;
   
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
}

.ladoIzquierdo {
    background-color: #E9ECF8;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#input1 {
    font-size: 32px;
    background-color: #E9ECF8;
    margin-top: 148px;  
    width: 30rem;
    height: 48px;
    border: none;
    outline: none;  
}

#input1::placeholder {
    color: #0A3871;
}

.ladoDerecho {
    background-color: #E9ECF8;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

svg {
    width: 10rem;
    margin-top: 40px;
    
}


.contButton {
    display: flex;
    margin-bottom: 40px;
    gap: 40px;
}

.textoValidaciones {
    margin-left: -280px;
    margin-top: 320px;
    color: #495057d2;
    font-family: "Inter", sans-serif;
}

.contDerecho {
    background-color: #ffffff;
    margin-top: 40px;
    height: 75%;
    width: 80%;
    border: none;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    text-align: center;
}


.h2 {
    margin: 20px 0;
    font-size: 24px;
    font-weight: 700;
}

.imgMuneco {
    width: 200px;
    height: 200px;
}

.msgEncriptar {
    font-size: 16px;
    color: #495057;
}

.centrarMsg {
    margin-top: -730px;
}

/* Botones */



.button {
    background-color: #0A3871;
    color: #ffffff;
    width: 17rem;
    padding: 15px;
    border-radius: 20px;
    border-color: #0A3871;
    text-align: center;
    font-size: 16px;
    border-style: groove;
    border: 1px solid #0A3871;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover {
    transition: 0.3s;
    scale: 1.1;
    
}

.buttonDesencriptar {
    background-color: #D8DFE8;
    color: #0A3871;
}

.buttonCopiar {
    margin-bottom: 40px;
    width: 120px;
    background-color: #D8DFE8;
    color: #0A3871;
}

@media screen and (max-width:768px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  svg {
    width: 10%;
    
    }
    
    .ladoDerecho {
        width: 100%;
        height: 25%;
    }

    .imgMuneco {
        visibility: hidden;
        height: 0;
    }

    .buttonCopiar {
        margin-top: 20px;
    }

    .centrarMsg {
        margin-top: -80px;
    }
}

@media screen and (max-width: 376px) {
        main {
            display: flex;
            flex-direction: column;
            width: 100vw;
            height: 100vh;
            align-items: center;
            justify-content: flex-start;
          }

          svg {
            width: 100px;
            height: 20%;
            margin: 0;
          }

            .ladoIzquierdo {
                width: 100%;
                
            }
            .contButton {
                display: flex;
                flex-direction: column;
            }

            .ladoDerecho {
                width: 100%;
                
            }
        
            .imgMuneco {
                visibility: hidden;
                height: 0;
            }
        
            .buttonCopiar {
                margin-top: 20px;
            }
        
            .centrarMsg {
                margin-top: -80px;
            }
            
            .textoValidaciones {
               font-size: 15px;
               margin-left: 100px;
               width: 100%;
            }
           
            #input1 {
                margin-top: 20px;
                margin-left: 200px;
            }
           
}